.calendarIcon {
  color: white;
  font-size: 18;
  margin-left: 15px;
}
.heading_1 {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.heading_2 {
  color: #6792ff;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 700;
}
.headings {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
}
.CurrentBanners {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}
.CurrentEvents {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}
.CurrentNews {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}
.CurrentTalents {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}
.OurSocialNetworks {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}
.image_event {
  width: 450px;
  border-radius: 15px;
}
.events {
  margin-top: 20px;
}
.event {
  margin-top: 15px;
}
.image_banner {
  width: 450px;
  border-radius: 15px;
}
.banners {
  margin-top: 20px;
}
.banner {
  margin-top: 15px;
}
.image_talent {
  width: 60px;
}
.image_talent_character {
  width: 70px;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: #232939;
}
.talents {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 15px;
}
.image_character {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
