.attack {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
  width: 98%;
  height: fit-content;
  margin-top: 10px;
}
.passive {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
  height: fit-content;
  margin-top: 10px;
}
.attack_name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.attack_key {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 5px;
}
.attack_value {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 5px;
}
.attack_skills {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.passive_skills {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.giff_character {
  margin: 10px;
}
.Skills {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .attack {
    width: auto;
  }
  .attack_name {
    font-size: 14px;
  }
  .attack_key {
    font-size: 12px;
  }
  .passive_skills {
    flex-direction: column;
  }
}
