.current_events {
  border-radius: 15px;
  margin-top: 35px;
  margin-left: 5%;
  height: fit-content;
  width: 100%;
}
.current_talents {
  border-radius: 15px;
  margin-top: 35px;
  margin-left: 10%;
  margin-right: 10%;
  height: fit-content;
}
.current_news {
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 20px;
  height: fit-content;
}
.our_social_networks {
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  height: fit-content;
}
.main_content {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "block_main block_items";
  grid-template-columns: 2fr 1fr;
}
.block_images {
  display: flex;
  flex-direction: row;
}
.block_main {
  display: flex;
  flex-direction: column;
  grid-area: block_main;
}
.block_items {
  grid-area: block_items;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .current_events {
    margin-top: 5px;
  }
  .current_talents {
    margin-top: 5px;
  }
  .current_news {
    margin-top: 5px;
    width: 100%;
  }
  .our_social_networks {
    margin-top: 5px;
  }
  .main_content {
    grid-template-columns: 1.2fr 1fr;
  }
  .block_images {
    flex-direction: column;
  }
}
