.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #232939;
  height: 60px;
}
.logo_1 {
  color: white;
  font-weight: 800;
  margin-left: 70px;
  font-size: 24px;
}
.logo_2 {
  color: #6792ff;
  font-weight: 800;
  font-size: 24px;
}
.nav_bar {
  width: 60%;
  margin-top: 10px;
}
.logo {
  margin-top: 10px;
}
