.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 60px;
}
.logo_1 {
  font-weight: 800;
  margin-left: 70px;
  font-size: 24px;
}
.logo_2 {
  font-weight: 800;
  font-size: 24px;
}
.nav_bar {
  width: 60%;
}

.dropdown_hidden {
  display: none;
}
.dropdown_visible {
  display: block;
  position: absolute;
  right: 150px;
  width: max-content;
}
.profile_dropdown_visible {
  display: block;
  position: absolute;
  right: 140px;
  width: max-content;
}
.profile_dropdown_hidden {
  display: none;
}
.burger {
  display: none;
}
.theme_icon button {
  border: none;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .dropdown_visible {
    display: block;
    position: absolute;
    right: 20px;
    width: max-content;
  }
  .profile_dropdown_visible {
    display: block;
    position: absolute;
    right: 20px;
    width: max-content;
  }
  .nav_bar {
    display: none;
  }
  .burger {
    display: block;
  }
  .logo {
    margin-top: 5px;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  .logo_1 {
    font-weight: 800;
    margin-left: 5px;
    font-size: 24px;
  }
  .logo_2 {
    font-weight: 800;
    font-size: 24px;
  }
  .logo {
    margin-top: 0px;
  }
}
