.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.item.active {
  border-bottom: 2px solid #6792ff;
  padding-bottom: 4px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
@media only screen and (max-width: 768px) {
  .navBar {
    display: none;
  }
  .item {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
  .item.active {
    border-bottom: none;
    padding-bottom: 0px;
    color: #6792ff;
  }
}
