.weapon_image_info {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 15px;
}
.main_block_weapon {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.weapon_main_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 10px;
}
.weapon_info {
  display: flex;
  flex-direction: row;
}
.weapon_info .name_main_info {
  font-size: 14px;
  width: 30%;
  margin-left: 10px;
}
.weapon_about {
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}
.weapon_for_characters {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  height: fit-content;
}
.material_header {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.for_characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.image_material {
  width: 100%;
  display: flex;
}
.image_material_img {
  width: 60px;
}
.material_name {
  font-size: 14px;
  margin: 5px;
}
.weapon_image_talent_book {
  width: 60px;
}
.weapon_book {
  position: relative;
  border-radius: 15px;
  cursor: pointer;
}
.weapon_name_talent_book {
  position: absolute;
  width: fit-content;
  visibility: hidden;
  opacity: 0;
  width: 150%;
  transition: opacity 0.2s, visibility 0.2s;
}
.weapon_book:hover .weapon_name_talent_book {
  visibility: visible;
  z-index: 100;
  opacity: 1;
  border-radius: 5px;
  padding: 5px;
  left: 62px;
}
@media only screen and (max-width: 768px) {
  .weapon_info .name_main_info {
    width: 60%;
    margin-left: 5px;
  }
  .weapon_about {
    font-size: 14px;
  }
  .weapon_for_characters {
    padding: 5px;
    margin-bottom: 5px;
  }
  .weapon_image_info {
    margin-bottom: 5px;
  }
  .weapon_info .value_main_info {
    margin-right: 0px;
  }
  .main_block_weapon {
    flex-direction: column;
  }
  .weapon_name_talent_book {
    font-size: 14px;
    width: 100px;
  }
}
